body{
    background-image: linear-gradient(#010f2c,#021743, #012161	,#003399 );
    overflow: hidden;
    /* min-height: 100vh; */
}

/* .heading-name{
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
} */

.navbar{
    color:rgb(217, 234, 249);
    font-family: "Lato", sans-serif;
}

.entry-card{
    animation: fade-up 1.5s;
    color:rgba(240,248,255,0.8)
}

.welcome-card{
    height:350px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: fade-up 1.5s;
    color:rgba(240,248,255,0.8)
}

@keyframes fade-up{
    0%{
        opacity:0;
        transform: translateY(80px) scale(0.9);
    }
    100%{
        opacity:1;
        transform: translateY(0px) scale(1);
    }
}

.welcome-text{
    color:rgb(217, 234, 249);
    font-family: "Lato", sans-serif;
}

.welcome-text img{
    height: 100px;
}

.welcome-text button:hover{
    transition: transform 1s ease-in;
    transform: scale(1.2);
}

.heading{
    font-size:70px;
}

@media (max-width:768px) {
    .heading{
        font-size: 50px;
    }
}

.click{
    cursor:pointer;
}

.wrapper li{
    list-style: none;
}

.wrapper a{
    text-decoration: none;
    color: aliceblue;
}

.wrapper i{
    font-size: 1.2rem;
    color: #fff;
}

.wrapper{
    display: flex;
    font-family: "Lato", sans-serif;
}

.main{
    min-height: 100vh;
    width:100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    margin:100px 50px;
    margin-right:120px;
    color:aliceblue;
}

#sidebar{
    width: 70px;
    min-width: 70px;
    height:100vh;
    z-index:100;
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #010e29;
}

#sidebar.expand{
    width:270px;
    min-width: 270px;
}

#toggle-btn{
    background-color:transparent;
    border:none;
    padding: 2rem 1rem;
}

.logo{
    margin:auto 20px;
}

.sidebar-logo{
    margin: auto 0;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link {
    display: none;
}

#sidebar:not(.expand){
    background-color: transparent;
}

.sidebar-nav{
    padding:2rem 0;
    flex:1 1 auto;
}

a.sidebar-link{
    padding: .625rem 1.625rem;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

a.sidebar-link i{
    font-size: 1.1rem;
    margin-right: .75rem;
}

.sidebar-link:hover{
    background-color: rgba(255,255,255,0.075);
    border-left: 3px solid #3b7ddd;
}

/* #dd-icon{
    transition: all 0.75s ease-in-out;
} */

.sidebar-dropdown{
    margin-left: 30px;
}

.sidebar-footer{
    margin-bottom: 30px;
}

.recent-card{
    height:180px;
    width:180px;
    padding:20px;
    margin:10px 20px;
    box-sizing: border-box;
    background-color: #010a1b;
    border-radius: 20px;
    box-shadow: -6px 6px 5px rgba(255,255,255,0.0925);
    position: relative;
    cursor: pointer;
}

.recent-title i{
    font-size: 20px;
}


.recent-date{
    height:60px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    background-color: #03173e;
    font-size: 16px;
    position: absolute;
    bottom:0px;
    border-radius: 0px 0px 20px 20px;
    left:0px;
    color: rgba(240,248,255,0.7);
}

.recent-card:hover{
    transition: transform 0.5s ease-in;
    transform: scale(1.1);
}

.new-btn{
    margin: 20px;
    background-color:#010a1b;
    height:50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    box-shadow: 6px 6px 7px rgba(255,255,255,0.0525), -6px -6px 7px rgba(255,255,255,0.0725),6px -6px 7px rgba(255,255,255,0.0725), -6px 6px 7px rgba(255,255,255,0.0725);
    padding-top: 10px;;
}

.new-btn:hover{
    transition:all transform 0.8s ease-in;
    transform: scale(1.05);
}
